<!DOCTYPE html>
<html lang="en">
<head>
   <h1 style="font-family:courier;">THE TO DO LIST</h1>
</head>
<body style=
"background-color:powderblue;
text-align: center;"
></body>





<ul style="color:red;font-family:courier;text-align: center;">
    {%for todo in todolist%}
        <li>
         {{todo['description']}}
         <form method="post" action="/delete_todo/{{todo['id']}}">
         <input type="Submit" value="Delete">
         </form>
        </li>
    {%endfor%}
</ul>
<form method="post">

<input name="new_todo">
<input type="submit">

</form method="post">

    
</body>
</html>